html {
	background: $brand-primary;
}
#login {
	max-width: 450px;
	margin: 0 auto;
}
#isAuth {
	#my-profile {
		span.online{
			right: 70px;
		}

		span.away {
			right:40px;
		}

		span.busy {
			right: 10px;
		}
	}
	#app {
		.link {
			cursor: pointer;
		}
	}
	#chat {
		.active {
			display: block !important;
		}
		.chat-messages {
			overflow-y: scroll;
			overflow-x: hidden;
			.my-message {
				background-color: $brand-info;
				color: white;
			}
		}
		.edit-my-message {
			display: block;
			cursor: pointer;
			color: red;
		}
	}

	#word {
		.col-xs-12 {
			padding: 0px !important;
		}
		.word-options {
			float: right;
			width: 100%;
			.btn {
				border-radius: 0px !important;
			}
			a {
				height: 40px;
				line-height: 25px;
			}
			.options {
				float: right;
			}
		}
		.edits {
			padding: 0px 10px;
			background: $brand-info;
			color: red;
			font-weight:600;
			line-height: 40px;
			float: left;
		}
	}
	#excel {
		.edits {
			padding: 0px 10px;
			background: $brand-info;
			color: red;
			font-weight:600;
			line-height: 40px;
			float: left;
		}
		.hot {
			overflow: hidden;
			width:100%;
		}
		.excel-options {
			float: right;
			width: 100%;
			.btn {
				border-radius: 0px !important;
			}
			a {
				height: 40px;
				line-height: 25px;
			}
			.options {
				width: 100%;
			}
		}
	}
	#sidebar, #content, #users {
		overflow: auto;
		border-top: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
	}
	#sidebar, #users {
		background: white;
	}
	#sidebar {
		border-right: 1px solid #d3d3d3;
	}
	#users {
		border-left: 1px solid #d3d3d3;
		padding: 0px;
	}
	#content {
		border-right: 1px solid #f5f5f5;
		border-left: 1px solid #f5f5f5;
		overflow: hidden;
		background: $brand-primary;
	}
	#header {
		background: $brand-primary;
		border-bottom: 1px solid #0c4ca3;
		.timezones {
			p {
				width: auto;
				display: inline-block;
				span {
					float: left;
					width: 100%;
				}
			}
		}
		.time-list {
			padding-top: 5px;
			background: #1d2b2f;
		}
		.status{
			height: 43px;
		}
		.welcome-you {
			line-height: 40px;
			margin-right: 10px;
			margin-bottom: 5px;
			.welcome-image {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				margin-right: 5px;
			}
			.welcome-message {
				float: right;
			}
		}
		.onlinestatus {
			display: none;
		}
		.status span.onlinestatus {
			color: transparent;
			position: absolute;
			top: 10px;
			width: 20px;
			height: 15px;
		}
		.status span:before {
			width: 20px; 
			height: 20px;
			font-size: 10px;
			font-family: 'Glyphicons Halflings';color: #fff;
			display: -webkit-flex;		-webkit-justify-content: center;		-webkit-align-items: center;
			display: -moz-flex;			-moz-justify-content: center;			-moz-align-items: center;
			display: -ms-flex;			-ms-justify-content:center;			    -ms-align-items: center;
			display: flex;				justify-content: center;				align-items: center;
		}
		.status span.online:before {
			content: '\e013';
		}
		.status span.online{
			right: 70px;
		}
		.status span.away:before { 
			content:"\e023";font-size: 15px;
		}
		.status span.away {
			right:40px;
		}
		.status span.busy:before {
			content:"\2212";
		}
		.status span.busy {
			right: 10px;
		}
	}
	#footer {
		background: $brand-primary;
		height: 0px;
		display: none;
	}
}
/* Login Page */
#isNotAuth {
	/*background: #f5f5f5;*/
	background: $brand-primary;    
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
    display: table;
    table-layout: fixed;
    width: 100%;
	.display-cell{
	    display: table-cell;
	    vertical-align: middle;
	    float: none;
	}
	h1 {
		/*font-family: roboto-slab;*//*color: #3572b0;*/ 
		font-weight: 700;
	}
	h3 {
		/*font-family: roboto-slab;*//*color: #3572b0;*/    
		font-weight:300;
	}
	button {
		font-size: 16px;    
		font-weight: 700;
	}
	button:hover{background: rgba(58,147,243,0.9);}
	input{height: 35px;    font-size: 14px}
	.alert.alert-danger{
			background: transparent;
    		border: transparent;
    		color: #fff;
	}
}
/* Loading Page */
body #loading {
	.display-cell{background: $brand-primary;}
	h1{font-size: 35px;}
	h1,h3{font-family: Arial, Helvetica, sans-serif; color: #fff;}

}

#disconnect {
	position: fixed;
	top: 0px;
	background: rgba(0,0,0,0.7);
	height: 100vh;
    display: table;
    table-layout: fixed;
    width: 100%;
	.display-cell{
	    display: table-cell;
	    vertical-align: middle;
	    float: none;
	    padding: 0px 15px;
	    color: white;
	    text-align: center;
	    font-size: 2em;
	}
}


.allLoaded {
	position: relative;
	div{
		margin: 0 auto;

	}
}



$full-width: 100%;
$size-ten: 10px;

.flex-wrap-space-between{
	display: -webkit-flex;		-webkit-justify-content: space-between;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: space-between;		-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content: space-between;			-ms-align-items: center;
	display: flex;				justify-content: space-between;				align-items: center;
}
.flex-wrap-end{
	display: -webkit-flex;		-webkit-justify-content: flex-end;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: flex-end;			-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content: flex-end;			-ms-align-items: center;
	display: flex;				justify-content: flex-end;				align-items: center;
}
.flex-wrap-center{	
	display: -webkit-flex;		-webkit-justify-content: center;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: center;			-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content:center;			    -ms-align-items: center;
	display: flex;				justify-content: center;				align-items: center;
}
.text-title-new{color: #aaa;}
/* header */
header {color: white;}
header div h1,header div p{margin: 0;}
header .flex-button-h-end{ @extend  .flex-wrap-end; }

header {
	button {
		margin-bottom: 10px !important;
		margin-right: 10px;
	}
}

.online:before 	{background: #33C748 !important;}
.away:before 	{background: #FDBF3F !important;}
.busy:before 	{background: #FC605B !important;}
.status,.profile{padding: 0 !important}
#header .btn-warning{background-color: red ;   border-color: red; margin-bottom: 10px; margin-right: 10px; }  
#isAuth #header .timezones p{    width: 16%; }

/* sidebar */
#sidebar h1{@extend .text-title-new;}
#sidebar h1{ @extend .flex-wrap-space-between; } 
#app #sidebar ul .title h1,#isAuth #content {border-top: none !important;}
#app #chatLinks li:last-child,#app #excelLinks li:last-child{border-bottom: 1px solid #ccc;}
#sidebar ul:first-child{border-top:none; }

#sidebar .link:hover a{}
#sidebar ul .title h1 {
	color: $brand-info;
	text-transform: uppercase; 
	font-size: 18px !important;
	height: 41px;
    padding: 0 10px !important;
    line-height: 41px;
}
#sidebar li:last-child{margin-bottom: 0 !important;}
#sidebar ul {margin-top: 0 !important;}

/*.user ,
.private-chat.chat.room .chat-messages ul .message-time,
#app #chat li .message-name,
#app .private-chat li .message-name,
#app #chat li .message-time{
	color: #0C4CAF;
}*/

/* users */
#users h3 {@extend .text-title-new;}
#users h3 {font-size: 18px; margin: 0;    line-height: 41px; 
	background: $brand-primary;
	color: $brand-info;
	padding-left: 20px;
}
#users {
	.user {
		padding-left: 20px;
		margin: 10px 0px;
		height: 40px;
	}
	.userimage {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		margin-right: 5px;
	}
}

#users .user-offline .badge {
	float: left !important;
    border-radius: 50%;
    display: inline-block;
    margin:5px 4px 0 0;
    background-color: transparent;
    border: 2px solid rgba(204,204,204,0.6);
    width: 11px;
    height: 11px;
    padding: 0;
}


#login div a{margin-left: $size-ten;}
.row.display-cell{width: $full-width;}

#login div input#checkbox {
	float: left; 
	font-size: 18px; /* 18px; */
	margin:2px 10px 0 0 ;
}
.modal-content .my-profile-content form .form-group label {
	padding-right: $size-ten;
	padding-left: $size-ten;
}

#chat .chat-form .image-container{display: none;}
.radio-inline:first-child{margin-right: 20px;}
.radio-inline label {text-transform: uppercase;    font-size: 12px;   margin-bottom: 0;}
.radio-inline input[type="radio"]{    margin-top: 2px;}




.radios-meta div div.radio-inline:last-child{ 
    width: 100%;
    margin-left: 0;
    padding-left: 0;   
    margin-top: 5px;
    display: none;
}
.radios-meta  div div.radio-inline span.filestoupload{float: left;}


/* chat-messages --> right bottom */

footer h6.text-center {color: #fff;}




/* MATT you might wanna move/restructure these */
.image-container {
	&:hover {
		opacity: 0.5;
		cursor: pointer;
	}
}

.messageCount {	background: $brand-primary;}
.hide-links, .show-links {	color: $brand-info;	cursor: pointer;   line-height: 39px; top: 0;}
.show-links {	display: none;}

.chat-form {
	.form-group {
		margin-bottom: 5px !important;
	}
	.radios-meta {
		margin-bottom: 5px;
	}
}

	.logo {
		position: absolute;
		top: 10px;
		left: 10px;
		img {
			height: 65px;
			width: 65px;
		}
	} 

	.change-rooms {
		display: none;
	}

		#content {
			#chat {
				.chat-form {
					padding-top: 7px;
				}
			}
		}

@media (max-width: 767px) {
	.change-rooms {
		display: block;
	}
	.onlinestatus {
		display: block !important;
	}
	#my-profile {
		.onlinestatus {
			display: none !important;
		}
	}
	.welcome-you {
		display: none;
	}

	.logo {
		position: absolute;
		top: 10px;
		left: 10px;
		img {
			height: 65px;
			width: 65px;
		}
	} 

	#users .user,#sidebar .link a,#content  .chat-messages ul li .message-name,#content  .chat-messages ul li .message-body{font-size: 13px; }

	#content  .chat-messages ul li {    display: block;    position: relative;}
	#content  .chat-messages ul li .message-name{
		width: $full-width;
		
		margin-left: 10px;
	} 
	#content  .chat-messages ul li .message-body{    width: $full-width;    padding: 0 10px;     padding-right: 90px;}
	#content  .chat-messages ul li .message-time{    
		width: $full-width;
    	text-align: right;
    	position: absolute;
    	top: 0;
    	right: 0;
    	padding-right: 10px;
    }
    #content .chat-messages ul li .message-time,
    #content  .chat-messages ul li .message-name,
    #content  .chat-messages ul li .message-body{
    	min-height: 20px;
    	padding-top: 0;
    	padding-bottom: 0;}
    .chat-form form .btn-primary{font-size: 10px;}

	html {
		.modal-backdrop {
			.in {
				opacity: 0;
			}
		}
	}
	#isAuth {
		#rooms, #my-profile {
			top: unset;
			background: #fff;
			.modal-content {
				background-clip: none;
				border: none;
				border-radius: 0px;
				box-shadow: none;
				-webkit-box-shadow: none;
				
			}
			.modal-dialog {
				margin: 0px;
			}
			.modal-body {
				padding: 0px;
			}
		}
		#sidebar {
			background: none;
			border: none;
			h1 {
				border: none;
				background: #c4eef3;
				color: $brand-info;
			}
		}
	}
}