#isAuth {
	#app {
		.link {
			cursor: pointer;
		}
	}
	#chat {
		.active {
			display: block !important;
		}
		.chat-messages {
			overflow-y: scroll;
			overflow-x: hidden;

		}
	}
	#excel {
		.hot {
			overflow: hidden;
			width:100%;
		}
		.excel-options {
			margin-top: 5px;
			float: right;
			width: 100%;
			height: 40px;
			a {
				height: 40px;
				line-height: 25px;
			}
			.options {
				width: 100%;
				height: 40px;
			}
		}
	}
	#sidebar, #content, #users {
		overflow: auto;
		border-top: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
	}
	#sidebar, #users {
		background: #f5f5f5;
	}
	#sidebar {
		border-right: 1px solid #d3d3d3;
	}
	#users {
		border-left: 1px solid #d3d3d3;
	}
	#content {
		border-right: 1px solid #f5f5f5;
		border-left: 1px solid #f5f5f5;
		overflow: hidden;
	}
	#header {
		background: $brand-primary;
		border-bottom: 1px solid #0c4ca3;
		padding: 0px 15px;
		height: 70px;
		.edit-profile, .logout {
			margin: 18px;
		}
		.timezones {
			p {
				display: inline-block;
				span {
					float: left;
					width: 100%;
				}
			}
		}
	}
	#footer {
		background: $brand-primary;
		height: 33px;
	}
	#word {
		.word-options {
			margin-top: 5px;
			height: 45px;
		}
	}
}
/* Login Page */
#isNotAuth {
	/*background: #f5f5f5;*/
	background: #0c4ca3;    
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
    display: table;
    table-layout: fixed;
    width: 100%;
	.display-cell{
	    display: table-cell;
	    vertical-align: middle;
	    float: none;
	}
	h1 {
		/*font-family: roboto-slab;*//*color: #3572b0;*/ 
		font-weight: 700;
	}
	h3 {
		/*font-family: roboto-slab;*//*color: #3572b0;*/    
		font-weight:300;
	}
	button {
		font-size: 16px;    
		font-weight: 700;
		background: rgb(44, 145, 252);
    	border-color:transparent;
	}
	button:hover{background: rgba(58,147,243,0.9);}
	input{height: 35px;    font-size: 14px}
	.alert.alert-danger{
			background: transparent;
    		border: transparent;
    		color: #fff;
	}
}
/* Loading Page */
body #loading {
	.display-cell{background:  #0c4ca3;}
	h1{font-size: 35px;}
	h1,h3{font-family: Arial, Helvetica, sans-serif; color: #fff;}

}

#disconnect {
	position: fixed;
	top: 0px;
	background: rgba(0,0,0,0.7);
	height: 100vh;
    display: table;
    table-layout: fixed;
    width: 100%;
	.display-cell{
	    display: table-cell;
	    vertical-align: middle;
	    float: none;
	    padding: 0px 15px;
	    color: white;
	    text-align: center;
	    font-size: 2em;
	}
}


.allLoaded {
	div{margin: 0 auto;}
}



$full-width: 100%;
$size-ten: 10px;

.flex-wrap-space-between{
	display: -webkit-flex;		-webkit-justify-content: space-between;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: space-between;		-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content: space-between;			-ms-align-items: center;
	display: flex;				justify-content: space-between;				align-items: center;
}
.flex-wrap-end{
	display: -webkit-flex;		-webkit-justify-content: flex-end;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: flex-end;			-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content: flex-end;			-ms-align-items: center;
	display: flex;				justify-content: flex-end;				align-items: center;
}
.flex-wrap-center{	
	display: -webkit-flex;		-webkit-justify-content: center;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: center;			-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content:center;			    -ms-align-items: center;
	display: flex;				justify-content: center;				align-items: center;
}
.text-title-new{color: #aaa;}
/* header */
header {color: white;}
header div h1,header div p{margin: 0;}
header .flex-button-h-end{ @extend  .flex-wrap-end; }
#header .row{ @extend .flex-wrap-center; }
header button{margin: 18px 0 !important;}
header button.edit-profile{margin-right: 10px !important;}
.online:before 	{background: #33C748 !important;}
.away:before 	{background: #FDBF3F !important;}
.busy:before 	{background: #FC605B !important;}
.status,.profile{padding: 0 !important}
#header .btn-warning{background-color: red ;   border-color: red; margin-right: 0 !important;}  
#isAuth #header .timezones p{    width: 16%; }

/* sidebar */
#sidebar h1{@extend .text-title-new;}
#sidebar h1{ @extend .flex-wrap-space-between; } 
#app #sidebar ul .title h1,#isAuth #content {border-top: none !important;}
#app #chatLinks li:last-child,#app #excelLinks li:last-child{border-bottom: 1px solid #ccc;}
#sidebar ul:first-child{border-top:none; }
#sidebar .link:hover,
#sidebar .badge{background-color: #0c4ca3;}
#sidebar .link:hover a{color: #fff;}
#sidebar ul .title h1 {
	text-transform: uppercase; 
	font-size: 18px !important;
	height: 41px;
    padding: 0 10px !important;
    line-height: 41px;
}
#sidebar li:last-child{margin-bottom: 0 !important;}
#sidebar ul {margin-top: 0 !important;}

.user ,
.private-chat.chat.room .chat-messages ul .message-time,
#app #chat li .message-name,
#app .private-chat li .message-name,
#app #chat li .message-time{
	color: #0C4CAF;
}

/* users */
#users h3 {@extend .text-title-new;}
#users h3 {font-size: 18px; margin: 0;    line-height: 41px;}
#users .user-offline .badge {
	float: left !important;
    border-radius: 50%;
    display: inline-block;
    margin:5px 4px 0 0;
    background-color: transparent;
    border: 2px solid rgba(204,204,204,0.6);
    width: 11px;
    height: 11px;
    padding: 0;
}
/* login page */ 
.size-center-login {
	width:450px;
	margin-right:auto;
	margin-left:auto;
}

#login div a{margin-left: $size-ten;}
.row.display-cell{width: $full-width;}
.form-horizontal#login{ @extend .size-center-login; } 
#login div input#checkbox {
	float: left; 
	font-size: 18px; /* 18px; */
	margin:2px 10px 0 0 ;
}
.modal-content .my-profile-content form .form-group label {
	padding-right: $size-ten;
	padding-left: $size-ten;
}
.form-horizontal#login div:nth-child(4).form-group {float: left;}
.form-horizontal#login div:nth-child(5).form-group { @extend .flex-wrap-end; }
.form-horizontal#login div:nth-child(5).form-group{    height: 36px;   padding-left: 20px;}
.form-horizontal#login div:nth-child(5).form-group p {margin-bottom: 0;}



#app #sidebar #chatLinks .link { background-image:  url('http://178.62.100.159:8088/img/mfglabs-users_256_0_000000_none.png');}
#app #sidebar #chatLinks li.active,#app #sidebar #chatLinks li:hover{background-image:url('http://178.62.100.159:8088/img/mfglabs-users_256_0_ffffff_none.png'); }
#app #sidebar #excelLinks .link{ background-image:  url('http://178.62.100.159:8088/img/octicon-checklist_256_0_000000_none.png');}
#app #sidebar #excelLinks li.active,#app #sidebar #excelLinks li:hover{ background-image:  url('http://178.62.100.159:8088/img/octicon-checklist_256_0_ffffff_none.png');}
#app #sidebar #wordLinks .link{background-image:  url('http://178.62.100.159:8088/img/9-03-1.png');}
#app #sidebar #wordLinks li.active,#app #sidebar #wordLinks li:hover{background-image:  url('http://178.62.100.159:8088/img/09-03-2.png');}

#app #chat li .message-name,#app .private-chat li .message-name{        
	background: transparent;
    border: none;
    padding-right: 20px;
}
#app #chat li:nth-child(odd),#app .private-chat li:nth-child(odd) {background:#f5f5f5;}

.chat-form{padding-bottom: 10px;    position: absolute;    bottom: 0;}
#chat .chat-form .image-container{display: none;}
.radio-inline:first-child{margin-right: 20px;}
.radio-inline label {text-transform: uppercase;    font-size: 12px;   margin-bottom: 0;}
.radio-inline input[type="radio"]{    margin-top: 2px;}

 
#app #chat .chat-form .form-group, #app .private-chat .chat-form .form-group {margin-bottom: 5px;}
.chat-form form div:first-child div:nth-child(2){padding-right: 0;}



.radios-meta div div.radio-inline:last-child{ 
    width: 100%;
    margin-left: 0;
    padding-left: 0;   
    margin-top: 5px;
    display: none;
}
.radios-meta  div div.radio-inline span.filestoupload{float: left;}


/* chat-messages --> right bottom */
.private-chat.chat.room .pc-header{    background: #0C4CAF;   color: #fff;}
.private-chat.chat.room .chat-messages ul .message-time{
	width: 100%;
    max-width: 150px;
    font-size: 12px;
    text-align: right;
    padding-right: 20px;
}



footer h6.text-center {color: #fff;}




/* MATT you might wanna move/restructure these */
.image-container {
	&:hover {
		opacity: 0.5;
		cursor: pointer;
	}
}

.messageCount {	background: $brand-primary;}
.hide-links, .show-links {	color: #aaa;	cursor: pointer;   line-height: 39px; top: 0;}
.show-links {	display: none;}
@media (max-width: 767px) {
	#backtotop {color: #fff;
		cursor: pointer;
		position: fixed;
		/*bottom: 10px;
		right: 10px;*/
		/*background: $brand-primary;*/
		bottom: 5px;
    	right: 5px;
    	background: rgba(12, 76, 163, 0.22);
		@include circlestatus(30px);
		span {
			position: relative;
			font-size: 20px;
			left: 5px;
			top: 4px;
		}
	}
	.show-links {	display: block;}
	.hide-links {	display: none;}
	#links {
		.link {	display: none;}
	}
	#sidebar {	height: auto !important;}
	.radios-meta {	display: none;}
	#users {	height: auto !important;}
}



@media (max-width: 1050px)  {
	#sidebar ul .title h1,#users h3 {font-size: 16px !important;}
	.chat-form{padding: 10px;}
    .chat-form form  div:first-child div:last-child,.chat-form form  div:first-child div:nth-child(2) {padding: 0;}
    #chat .chat-form .form-group {text-align: right;}
    .chat-form form .btn-primary{width: 90%;padding: 0;}
}

@media (max-width: 900px)  {
	/* header */
	#isAuth #header {height: 95px;}
	#header .row {display: block; position: relative; height: $full-width;}
	#header .status {margin: 12px 0; width: 100%;}
	#header .time-wrap {width: $full-width;}
	#header .timezones {text-align: left;}
	#isAuth #header .timezones p {width: 10%;}
	#header .profile {    position: absolute;   right:0 ;}
	
	#sidebar{width: 15%;}
	#sidebar ul .title h1,#users h3{font-size: 15px !important;}
	#sidebar .link a{padding-bottom: 3px; padding-top: 3px;}

	#users {    width: 15%; float: right;     padding: 0 5px;}
	#app #sidebar .link,#app #sidebar li.active,#app #sidebar li:hover {    background-image: none !important;    padding: 0;}
	#users .user,#sidebar .link a,#content  .chat-messages ul li .message-name,#content  .chat-messages ul li .message-body{font-size: 13px; }


	#content {width: 70%;}
	#content  .chat-messages ul li {    display: block;    position: relative;}
	#content  .chat-messages ul li .message-name{    width: $full-width;   text-align: left;    padding-left: 10px;} 
	#content  .chat-messages ul li .message-body{    width: $full-width;    padding: 0 10px;     padding-right: 90px;}
	#content  .chat-messages ul li .message-time{    
		width: $full-width;
    	text-align: right;
    	position: absolute;
    	top: 0;
    	right: 0;
    	padding-right: 10px;
    }
    #content .chat-messages ul li .message-time,
    #content  .chat-messages ul li .message-name,
    #content  .chat-messages ul li .message-body{
    	line-height: 20px;
    	min-height: 20px;
    	padding-top: 0;
    	padding-bottom: 0;}
    .chat-form form .btn-primary{font-size: 10px;}
}

@media (max-width: 767px){
#header .btn-warning{margin-left: 0 !important;}
#isAuth #header .timezones p{width: 12%;}
#sidebar ul .title h1, #users h3,#users .user, #sidebar .link a, #content .chat-messages ul li .message-name, #content .chat-messages ul li .message-body{font-size: 12px !important;}
#app{    background: #f5f5f5;}
#sidebar ,#users {border: none !important;}
#content {border: 1px solid #d3d3d3 !important; background:#fff; }
.radios-meta {display: block!important;}
}



@media (max-width: 650px){
/* temporary */	#users{display: none;}
#sidebar ,#content ,#users{width: $full-width;    height: $full-width !important;}

.chat-form form .btn-primary {font-size: 12px;}

.chat-form form  .form-group ,.chat-form form .message-info,.chat-form form .btn-primary{width:$full-width;}
.chat-form form div:first-child div:last-child{float: right;}
.chat-form  .radios-meta div.col-xs-12{padding: 0;} 
.size-center-login {width: $full-width;}
.chat-form{position: relative;}
/*header*/
#isAuth #header{
	height: 100px;    
	position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}
#app {padding-top: 100px;}
#header .timezones {font-size: 12px; 
	display: -webkit-flex;		-webkit-justify-content: space-between;		
	display: -moz-flex;			-moz-justify-content: space-between;		
	display: -ms-flex;			-ms-justify-content: space-between;			
	display: flex;				justify-content: space-between;} 
#isAuth #header .timezones p{width: auto;}
#header .status{    margin: 18px 0 5px; line-height: 33px;}
#header .time-wrap{    position: absolute;    bottom:5px;     padding: 0 4px;}
#isAuth #header .edit-profile, #isAuth #header .logout{margin-bottom: 5px !important;}
#sidebar ul .title h1 {padding: 0 20px !important;}
.hide-links, .show-links{line-height: 100%; padding: 10px;}
#sidebar .link a{padding: 5px 20px;}
#isAuth #content{border: none !important;}
#app #chat li .message-name{padding-left: 20px;}
#app #chat li .message-time{padding-right: 20px;}
#content .chat-messages ul li .message-body{padding-left: 20px; padding-right: 20px;}
#sidebar ul .title h1, #users h3, #users .user, #sidebar .link a, #content .chat-messages ul li .message-name, #content .chat-messages ul li .message-body{font-size: 14px !important;}
}


@media (max-width: 450px) {
 .chat-form form .col-xs-1{width: 10%;}
  .radios-meta  div.col-xs-12{
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: flex;
 }
.radios-meta  div div.radio-inline{margin-left: 0;}
.radios-meta  div div:nth-child(2).radio-inline{margin-left: 20px;}

#header .status{height: 33px;    margin-top: 10px;}
#header .status span.onlinestatus{
	color: transparent;
    position: absolute;
    top: 10px;
    width: 20px;
    height: 15px;
}

#header .status span:before{width: 20px; height: 20px;    font-size: 10px;
    font-family: 'Glyphicons Halflings';color: #fff;
    display: -webkit-flex;		-webkit-justify-content: center;		-webkit-align-items: center;
	display: -moz-flex;			-moz-justify-content: center;			-moz-align-items: center;
	display: -ms-flex;			-ms-justify-content:center;			    -ms-align-items: center;
	display: flex;				justify-content: center;				align-items: center;
}
#header .status span.online:before{content: '\e013'; }
#header .status span.online{left: 0;}
#header .status span.away:before{  content:"\e023";font-size: 15px;}
#header .status span.away{left:30px;}
#header .status span.busy:before{content:"\2212";}
#header .status span.busy{left: 60px;}
}

@media (max-width: 400px) {
#header .timezones{font-size: 10px;}
#header .time-wrap{bottom: 10px;}
}
