#isAuth {
	#chat {
		.active {
			display: block !important;
		}
		.chat-messages {
			overflow-y: scroll;
			overflow-x: hidden;

		}
	}
	#excel {
		.hot {
			overflow: hidden;
			width:100%;
		}

	}
	#sidebar, #content, #users {
		overflow: auto;
	}
}
#header {
	background: #000;
}
