div.row.display-cell
	div.col-xs-12
		h1.title.text-center GSCS
		h3.subtitle.text-center Global Shipping Communication Services
		form(role='form')#login.form-horizontal
			div.form-group.input-group-lg
				input(type='text' name='username' placeholder="Username")#username.form-control
			div.form-group.input-group-lg
				input(type='password' name='password' placeholder="Password")#password.form-control
			div.form-group
				button(type='submit').btn.btn-primary Log in
		div.text-center
			p Copyright