div#rooms.modal(tabindex="-1" role="dialog")
	div.modal-dialog(role="document")
		div.modal-content
			div.modal-header
				h4.modal-title Choose a room
				button.btn.btn-info(data-dismiss="modal") Save & Switch
			div.modal-body.swap-room