div#viewedits.modal.fade(tabindex="-1" role="dialog")
	div.modal-dialog(role="document")
		div.modal-content
			div.modal-header
				h4.modal-title Recent edits
				button.btn.btn-primary.pull-right(data-dismiss="modal") Close
			div.modal-body.viewedits-body
			div.modal-footer
				button.btn.btn-primary(data-dismiss="modal") Close