div#chat
	div#chatlist.row
		div.col-xs-12
			table.table.table-striped
				tr
					th Name
					th Departments
					th Locations
					th Actions
		div.col-xs-12
			a.btn.btn-primary.createchat Create a new chatroom
	div#editchat.row
		div.col-xs-12
			form.form-horizontal
				div.form-group
					label.col-xs-2.control-label(for="username") Name
					div.col-xs-10
						input.form-control#edit-chat-name(type="text" name="name")
				div.form-group
					label.col-xs-2.control-label(for="location") Location
					div.col-xs-10
						div#edit-chat-locations
				div.form-group
					label.col-xs-2.control-label(for="department") Department
					div.col-xs-10
						div#edit-chat-departments
				div.form-group.chatsave.hide
					div.col-xs-4.text-center
						p.bg-info Saving...
						input.hide#edit-chat-id(type="hidden" name="id")
				div.form-group
					div.col-xs-6
						a.btn.btn-warning.chat-goback Go Back
					div.col-xs-6
						a.btn.btn-success.chat-save Save
	div#createchat.row
		div.col-xs-12.createchat-fail
			div.alert.alert-warning.alert-dismissable(role="alert")
				button.close(type="button" data-dismiss="alert")
					span &times;
				strong Chatroom could not be created, please check that the chatroom is unique and all fields are filled out correctly!
		div-col-xs-12
			form.form-horizontal
				div.form-group
					label.col-xs-2.control-label(for="name") name
					div.col-xs-10
						input.form-control#create-chat-name(type="text" name="name")
				div.form-group
					label.col-xs-2.control-label(for="department") Department
					div.col-xs-10
						div#create-chat-department
				div.form-group
					label.col-xs-2.control-label(for="location") Location
					div.col-xs-10
						div#create-chat-location
				div.form-group
					div.col-xs-6
						a.btn.btn-warning.chat-goback Go Back
					div.col-xs-6
						a.btn.btn-success.chat-create Save new chatroom