div#dashboard
	div.row
		div.col-xs-12.text-center
			h1 System Information
			div.uptime
		div.col-xs-12.col-sm-6.cpuinfo
			h2 CPU
		div.col-xs-12.col-sm-6.memory
			h2 Memory
		div.col-xs-12.helpful
			h2 Misc