div#excel
	div#excelList.row
		div.col-xs-12
			table.table.table-striped
				tr
					th Name
					th Departments
					th Locations
					th Actions
		div.col-xs-12
			a.btn.btn-primary.createexcel Create a new chatroom