div#settings
	div#locdep
		div.row
			div.col-xs-12
				h3 After updating settings please 
					a(href="") refresh the page!
		form.form-horizontal
			div.form-group.for-location
			div.form-group
				div.col-xs-10
					button.btn.btn-primary.add-location Add Location
			div.form-group.for-department
			div.form-group
				div.col-xs-10
					button.btn.btn-primary.add-department Add Department
				div.col-xs-6
					a.btn.btn-success.locdep-save Save