div#settings
	div#locdep
		div.savesuccess.alert.alert-success
		h3 Be careful deleting Locations/Deparments. This will affect users and you will need to reassign user locations and departments!
		form.form-horizontal
			div.form-group.for-location
			div.form-group
				div.col-xs-10
					button.btn.btn-primary.add-location Add Location
			div.form-group.for-department
			div.form-group
				div.col-xs-10
					button.btn.btn-primary.add-department Add Department
				div.col-xs-6(style="padding-top: 20px;")
					a.btn.btn-success.locdep-save Save