div#users.row
	div.col-xs-12
		table.table.table-striped
			tr
				th Username
				th First Name
				th Last Name
				th Location
				th Department
				th Actions
div#edituser.row
	div.col-xs-12
		form.form-horizontal
			div.form-group
				label.col-xs-2.control-label(for="username") Username
				div.col-xs-10
					input.form-control#edit-username(type="text" name="username")
			div.form-group
				label.col-xs-2.control-label(for="password") Password
				div.col-xs-10
					input.form-control#edit-password(type="text" name="password")
			div.form-group
				label.col-xs-2.control-label(for="firstName") First Name
				div.col-xs-10
					input.form-control#edit-firstname(type="text" name="firstName")
			div.form-group
				label.col-xs-2.control-label(for="lastName") Last Name
				div.col-xs-10
					input.form-control#edit-lastname(type="text" name="lastName")
			div.form-group
				label.col-xs-2.control-label(for="email") Email
				div.col-xs-10
					input.form-control#edit-email(type="email" name="email")
			div.form-group
				label.col-xs-2.control-label(for="location") Location
				div.col-xs-10
					input.form-control#edit-location(type="text" name="location")
			div.form-group
				label.col-xs-2.control-label(for="department") Department
				div.col-xs-10
					input.form-control#edit-department(type="text" name="department")
			div.form-group
				label.col-xs-2.control-label(for="status") status
				div.col-xs-10
					input.form-control#edit-status(type="text" name="status")