div#chat
	div.container.chat
		div.row
			div.col-xs-12
				h2.text-center My chat room
			div.col-xs-12
				div.chat-messages
			div.col-xs-12
				div.row
					form
						div.col-xs-10
							div.form-group
								input(type="text" name="message").form-control
						div.col-xs-2
							div.form-group
								button.btn.btn-primary(type="submit").form-control submit
