div#excel
	div.container.excel.room
		div.row
			div.col-xs-12
				div.excel-options
					a.btn.btn-info.excel-edit Edit
					a.btn.btn-primary.excel-update.soft-hide Save
					a.btn.btn-warning.excel-cancel.soft-hide Cancel
				div.message.alert.alert-info.soft-hide
				div.hot