footer#footer.container-fluid
	div.row
		div.col-xs-12
			h6.text-center COPYRIGHT - Add here
div#disconnect.container-fluid.trick-hide
	div.disconnect-container.row.display-cell
		div.disconnect-message.col-xs-12
script(src='js/bundle.js')