footer#footer.container-fluid
	div.row
		div.col-xs-12
			h6.text-center Created by 
				a(href="http://www.saowapan.com" style="color: #fff;") Saowapan
div#disconnect.container-fluid.trick-hide
	div.disconnect-container.row.display-cell
		div.disconnect-message.col-xs-12