footer#footer.container-fluid
	div.row
		div.col-xs-12
			h6.text-center COPYRIGHT GSCS
div#backtotop
	span.glyphicon.glyphicon-chevron-up
div#disconnect.container-fluid.trick-hide
	div.disconnect-container.row.display-cell
		div.disconnect-message.col-xs-12