header#header.container-fluid
	div.row
		div.status.col-sm-3.col-md-3.col-lg-3.pull-left
			span.onlinestatus.online online
			span.onlinestatus.away away
			span.onlinestatus.busy busy
		div.text-center.col-sm-6.col-md-6.col-lg-6.pull-left.time-wrap
			div.timezones.text-center
				p.newyork New York
				p.london London
				p.athens Athens
				p.mumbai Mumbai
				p.singapore Singapore
				p.sydney Syndey
		div.profile.col-md-3.col-lg-3.flex-button-h-end.pull-left
			button.btn.btn-info.edit-profile.pull-right(data-toggle="modal" data-target="#my-profile") Update Status
			a(href="/").btn.btn-warning.logout.pull-right Logout