header#header.container-fluid
	div.row
		div.col-xs-4.status
			p status
		div.col-xs-4.text-center
			h1 title
		div.col-xs-4.profile
			button.btn.btn-info.edit-profile.pull-right(data-toggle="modal" data-target="#my-profile") Edit Profile
			button.btn.btn-warning.logout.pull-right Logout