doctype html
html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(chatset='utf8')
		block title
			title GSCS
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/lib.css')
		//link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
	body
		//not logged in content
		div#isNotAuth.container-fluid
			include ../_partials/isnotauth/login
			include ../_partials/isnotauth/register
		div#isAuth.container-fluid.trick-hide
			include header
			div#app.row
				include sidebar
				div#content.col-xs-12.col-md-6.col-sm-6.col-lg-8
					include ../_partials/isauth/chat
					include ../_partials/isauth/excel
				div#users.col-xs-12.col-md-3.col-sm-3.col-lg-2
					include ../_partials/isauth/users
			include ../_partials/isauth/modals/my-profile
			include footer