doctype html
html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(chatset='utf8')
		block title
			title GSCS
		style.
			html .load {
				display: none !important;
			}
		link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
		link(href="/css/lib.css" rel="stylesheet" type="text/css")
		//link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
		script.
			function async(u, c) {
				var d = document, t = 'script',
				o = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
				o.src = u;

				if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
				s.parentNode.insertBefore(o, s);
			}
			async('js/bundle.js', function() {

			});
	body
		div#loading
			div.display-cell
				div.showloader
					div.title
						img(src="img/logo.png" style="width: 300px; margin: 0 auto;").img-responsive
						h1 Global Shipping Communication Services
					div.loader
						svg.circular(viewBox="25 25 50 50")
							circle.path(cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10")
		//not logged in content
		div#isNotAuth.load.container-fluid
			include ../_partials/isnotauth/login
			include ../_partials/isnotauth/register
		div#isAuth.load.container-fluid.trick-hide
			include header
			div#app.row
				div#sidebar.col-xs-12.col-sm-2.col-md-2.col-lg-2
					include sidebar
				div#content.col-xs-12.col-sm-8.col-md-8.col-lg-8
					div#chat
					div#excel
					div#word
					div#calendar
				div#users.col-xs-12.col-sm-2.col-md-2.col-lg-2
					include ../_partials/isauth/users
			include ../_partials/isauth/modals/my-profile
			include ../_partials/isauth/modals/viewedits
			include ../_partials/isauth/modals/rooms
			include ../_partials/isauth/modals/edit-event
			include ../_partials/isauth/modals/create-event
			div#alerts
				include ../_partials/isauth/alerts/waiting
			div.userinfo
			include footer