div#sidebar.col-xs-12.col-md-3.col-sm-3.col-lg-2
	div#links
		ul#chatLinks.nav.nav-pills.nav-stacked
			div.title 
				h1 Chatrooms
		ul#excelLinks.nav.nav-pills.nav-stacked
			div.title 
				h1 Excelsheets