extends layout/layout
block title
	title EWB!
block content
	//not logged in content
	div#isNotAuth.container
		include _partials/isnotauth/login
		include _partials/isnotauth/register
	div#isAuth.container-fluid
		div.row
			include layout/sidebar
			div.col-xs-12.col-md-8
				include _partials/isauth/chat
				include _partials/isauth/excel
			div.col-xs-12.col-md-2
				div.users
					h1 logged in users