#admin {
	#users {
		.createuser-success {
			display: none;
		}
		.createuser-fail {
			display: none;
		}
	}
	#chat {
		.createchat-success {
			display: none;
		}
		.createchat-fail {
			display: none;
		}
	}
}
